4x4x4solver_v3/prun_table
4x4x4solver_v3/move_table
4x4x4solver_v3/a.exe
4x4x4solver_v4/move
4x4x4solver_v4/prun
4x4x4solver_v4/cube_class.cp38-win_amd64.pyd
4x4x4solver_v4/__pycache__
4x4x4solver_v4/cube_class_c.cp38-win_amd64.pyd
4x4x4solver_v4/cube_class.c
4x4x4solver_v4/build